<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Presupuestador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .divContent {
                display: grid;
                justify-content: center;
            }
            .div {
                background-color: lightyellow;
                width: 300px;
                border: 3px solid yellow;
                padding: 25px;
                margin: 5px;
            }

        </style>        
    </head>

    <!AQUI HACE FALTA REVISAR, APRENDER Y TERMINAR DE ARMAR UN BUEN CSS>

    <body>
        <div class="divContent">
            <div>
                <h1>Presupuestador de faQBerta</h1>
            </div>

            <div>
                <div class="div">
                    <ul>
                        <li>
                            <a>
                                Prespuestos
                            </a>
                            <ul>

                                <hr>
                                <li><a th:href="@{/presupuesto/registrar}">Crear presupuesto</a></li>

                                <li><a th:href="@{/presupuesto/lista}">Listar presupuestos</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>
                                Clientes
                            </a>
                            <ul>
                                <hr>
                                <li><a th:href="@{/cliente/registrar}">Crear cliente</a></li>

                                <li><a th:href="@{/cliente/lista}">Listar clientes</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>
                                Servicios
                            </a>
                            <ul>
                                <hr>
                                <li><a th:href="@{/servicio/registrar}">Crear servicio</a></li>

                                <li><a th:href="@{/servicio/lista}">Listar servicios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div th:if="${error != null}">
            <div>
                <h5> Error </h5>
                <p th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${exito != null}">
            <div>
                <h5> Exito </h5>
                <p th:text="${exito}"></p>
            </div>
    </body>
</html>
