<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragment/head :: head" </head>

    <body>

        <div class="divContent">

            <div>
                <h1 th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre}"></h1>
            </div>
            <div>
                <a>
                    <img class="logo" th:src="@{imagen/perfil/__${session.usuariosession.id}__}" alt="Img perfil">
                </a>
            </div>

            <div class="div">
                <ul>
                    <ul>
                        <li>
                            <a>
                                Prespuestos
                            </a>
                            <ul>

                                <li><a th:href="@{/presupuesto/lista}">Listar presupuestos</a></li>

                            </ul>
                        </li>
                        <hr>
                        <li>
                            <a>
                                Clientes
                            </a>
                            <ul>

                                <li><a th:href="@{/cliente/lista}">Listar clientes</a></li>

                            </ul>
                        </li>
                        <hr>
                        <li>
                            <a>
                                Servicios
                            </a>
                            <ul>

                                <li><a th:href="@{/servicio/lista}">Listar servicios</a></li>

                            </ul>
                        </li>
                        <hr>
                    </ul>

                    <ul>
                        <a th:href="@{/perfil}">Editar perfil</a>
                    </ul>
                    <ul>
                        <a href="/logout" >Cerrar Sesion</a>
                    </ul>

                </ul>
            </div>
        </div>

    </body>

</html>
