<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .divContent {
                display: grid;
                justify-content: center;
            }
            .div {
                background-color: lightyellow;
                width: 300px;
                border: 3px solid yellow;
                padding: 25px;
                margin: 5px;
            }

        </style>
    </head>
    <body>

        <div class="divContent">
            <div class="div">
                <ul>
                    <ul>
                        <li>
                            <a>
                                Prespuestos
                            </a>
                            <ul>

                                <li><a th:href="@{/presupuesto/lista}">Listar presupuestos</a></li>

                            </ul>
                        </li>
                        <hr>
                        <li>
                            <a>
                                Clientes
                            </a>
                            <ul>

                                <li><a th:href="@{/cliente/lista}">Listar clientes</a></li>

                            </ul>
                        </li>
                        <hr>
                        <li>
                            <a>
                                Servicios
                            </a>
                            <ul>

                                <li><a th:href="@{/servicio/lista}">Listar servicios</a></li>

                            </ul>
                        </li>
                        <hr>
                    </ul>

                    <ul>
                        <a href="#">Perfil</a>
                    </ul>
                    <ul>
                        <a href="/logout" >Cerrar Sesion</a>
                    </ul>

                </ul>
            </div>
        </div>

    </body>

</html>
