<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragment/head :: head" </head>
    
    <body>
        <div class="divContent">

            <div class="div">
                <form th:action="@{/logincheck}" method="POST">

                    <div>
                        <h3> Accede a los presupuestos!</h3>
                    </div>

                    <div>
                        <input type="email" name="email" placeholder="EMAIL">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="CONTRASEÑA">
                    </div>

                    <button type="submit">Ingresar</button>
                </form>
            </div>

            <section>
                <div>
                    <a th:href="@{/}">Volver</a>
                </div>
            </section>

        </div>
        <div th:if="${error != null}">
            <div>
                <h5> Error </h5>
                <p th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${exito != null}">
            <div>
                <h5> Exito </h5>
                <p th:text="${exito}"></p>
            </div>

        </div>
    </body>


</html>
