<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragment/head :: head" </head>
    
    <body>
        <header>
            <div>
                <h2>Nombre del presupuesto</h2>
            </div>
        </header>
        <form th:action="@{/presupuesto/modificar/__${presupuesto.idPres}__}" method="POST">

            <input hidden th:value="${idPres}" name="idPres">

            <div>
                <input th:value="${presupuesto.Nombre}" type="text" name="Nombre" placeholder="Nombre del presupuesto">
            </div>

            <div>
                <label>Valor</label> 
                <input th:value="${presupuesto.Valor}" type="number" name="Valor" placeholder="Valor">
            </div>

            <div>
                <select name="idCliente">
                    <option>Seleccionar Cliente</option>
                    <option th:each="cliente : ${clientes}"
                            th:value="${cliente.idCliente}"
                            th:text="${cliente.nombre}"
                            />
                </select>
            </div>

            <div>
                <select name="idServ">  
                    <option>Seleccionar Servicio</option>
                    <option th:each="servicio : ${servicios}"
                            th:value="${servicio.idServ}" 
                            th:text="${servicio.nombre}"
                            />
                </select>
            </div>

            <div>
                <button type="submit"> Actualizar </button>
            </div>

            <div th:if="${error != null}">
                <div>
                    <h5> Error </h5>
                    <p th:text="${error}"></p>
                </div>
            </div>

            <div th:if="${exito != null}">
                <div>
                    <h5> Exito </h5>
                    <p th:text="${exito}"></p>
                </div>
            </div>

        </form>
    </body>
</html>