<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragment/head :: head" </head>
    
    <body>
        <div class="divContent">

            <div class="div">
                <form th:action="@{/registro}" method="POST">

                    <div>
                        <h3> Registrate!</h3>
                    </div>
                    <div>
                        <input type="text" name="nombre" placeholder="NOMBRE" th:value="${nombre}">
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="EMAIL" th:value="${email}">
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="CONTRASEÑA" th:value="${password}">
                    </div>
                    <div>
                        <input type="password" name="password2" placeholder="REPETIR CONTRASEÑA" th:value="${password2}">
                    </div>

                    <button type="submit">Registrarme</button>
                </form>
            </div>

        </div>
        <div th:if="${error != null}">
            <div>
                <h5> Error </h5>
                <p th:text="${error}"></p>
            </div>
        </div>

        <div th:if="${exito != null}">
            <div>
                <h5> Exito </h5>
                <p th:text="${exito}"></p>
            </div>

        </div>
    </body>


</html>
