<head>
    <title>Presupuestador</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .divContent {
            display: grid;
            justify-content: center;
        }
        .div {
            background-color: lightyellow;
            width: 300px;
            border: 3px solid yellow;
            padding: 25px;
            margin: 5px;
        }
        .logo {
            width: 25px;
        }

    </style>
</head>
